<div class="app">
    <div class="profile-container">
        <div class="profile-back">
            <img src="/arrowLeft.svg" alt="">
        </div>
        <div class="profile">
            <div class="profile-avatar">
                <img src="/avatarNoPhoto.svg" alt="">
                <div class="profile-avatar__change">Поменять аватар</div>
            </div>
            <div class="profile-name">{{ name }}</div>
            {{#each inputs}}
                {{>ProfileInput label=label id=id value=value disabled=disabled}}
            {{/each}}
            {{#each buttons}}
                {{>ProfileInput label=label inputClass=inputClass labelClass=labelClass id=id}}
            {{/each}}
        </div>
    </div>
</div>