<div class="app">
    <div class="error-container">
        <div class="error__code">{{ code }}</div>
        <div class="error__message">{{ text }}</div>
        {{>ProfileInput label=label inputClass='width-auto' labelClass='primary' idButton='error_back'}}
    </div>
</div>