<div>
    <div class="error-container">
        <h1 class="error__code">{{ code }}</h1>
        <h2 class="error__message">{{ text }}</h2>
        {{>ProfileInputLabel label=label inputClass='width-auto' labelClass='primary' idButton='error_back'}}
    </div>
</div>